name: Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-20.04, macOS-latest, windows-latest ]
        python-version: [3.8]
        include:
          - os: ubuntu-latest
            python-version: 3.7
          - os: ubuntu-latest
            python-version: 3.9

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python ${{ matrix.python-version }} (debug)
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'

    - name: Prepare Ubuntu
      run: |
        sudo apt-get update
        sudo apt-get install --no-install-recommends --yes libsndfile1 sox
      if: matrix.os == 'ubuntu-latest' || matrix.os == 'ubuntu-20.04'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install -r docs/requirements.txt
        pip install -r tests/requirements.txt

    - name: Install pre-commit hooks
      run: |
        pre-commit install --install-hooks

    - name: Code style check via pre-commit
      run: |
        pre-commit run --all-files

    - name: Test with pytest
      run: |
        python -m pytest

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: ./coverage.xml
      if: matrix.os == 'ubuntu-20.04'

    - name: Test building documentation
      run: |
        python -m sphinx docs/ docs/_build/ -b html -W
      if: matrix.os == 'ubuntu-20.04'
